/* Write your CSS here */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comments-container {
  width: 90%;
}
.input-comments {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.comment-img {
  height: 180px;
  width: 180px;
}
.initial-container {
  border-radius: 100%;
  align-self: center;
  padding: 10px;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .input-comments {
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }
  .comment-img {
    margin-left: 25px;
    height: 180px;
    order: 2;
    flex-grow: 1;
    align-self: center;
  }
}
